APP_NAME=Ravit-backend
APP_FRONTEND=http://localhost:5173
SERVER_MODE=debug
SERVER_PORT=8080
HTTP_TIMEOUT=60
CACHE_EXPIRED=24
CACHE_PURGED=60
API_VERSION=1

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=Ravit
DB_USERNAME=root
DB_PASSWORD=

CONN_IDLE=200
CONN_MAX=300
CONN_LIFETIME=60

JWT_DAY_EXPIRED=60
JWT_SIGNATURE_KEY=4WSRLWxJdm

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_REDIRECT_URL=

OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GITHUB_REDIRECT_URL=